<template>
  <div class="main__content--flex">
    <div class="inputs__content--flex">
      <h1 class="main__title">Создай заметку</h1>
      <input
        v-model="title"
        class="title main__color"
        autocomplete="off"
        type="text"
        placeholder="Введи заголовок заметки"
      />
      <textarea
        v-model="description"
        class="description main__color"
        placeholder="Введи описание заметки"
        name="description"
        cols="30"
        rows="10"
      />
    </div>
    <button
      class="double-border-button main__color"
      :disabled="isDisable"
      @click="addNote"
    >
      Создать/сохранить
    </button>
  </div>
</template>

<script>
import { computed, ref, watch } from "vue";

export default {
  name: "TodoForm ",
  components: {},
  props: {
    restoreTitle: {
      type: String,
      default: "",
    },
    restoreDescription: {
      type: String,
      default: "",
    },
  },
  emits: {
    "add-note": null,
  },
  setup(props, { emit }) {
    const title = ref("");
    const description = ref("");

    const isDisable = computed(() => {
      return !title.value.trim().length;
    });

    function clearForm() {
      title.value = "";
      description.value = "";
    }

    function addNote() {
      const note = {
        title: title.value.trim(),
        description: description.value.trim(),
        isComplete: false,
      };

      emit("add-note", note);
      clearForm();
    }

    watch(props, () => {
      title.value = props.restoreTitle;
      description.value = props.restoreDescription;
    });

    return { title, description, isDisable, addNote };
  },
};
</script>
