<template>
  <TodoItem
    v-for="({ title, description, isComplete }, index) in todoList"
    :key="index"
    :title="title"
    :description="description"
    :is-complete="isComplete"
    @checkbox-change="onItemChange(index)"
    @remove="onRemove(index)"
    @edit="onEdit(index)"
  />
</template>

<script>
import TodoItem from "./TodoItem";

export default {
  name: "TodoList",
  components: { TodoItem },
  props: {
    todoList: {
      type: Array,
      default: () => [],
    },
  },
  emits: {
    "change-complete": null,
    edit: null,
    remove: null,
  },
  setup(_, { emit }) {
    function onItemChange(index) {
      emit("change-complete", index);
    }

    function onEdit(index) {
      emit("edit", index);
    }

    function onRemove(index) {
      emit("remove", index);
    }

    return { onItemChange, onEdit, onRemove };
  },
};
</script>
