/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,html {
  color: #ffe270;
  font-weight: 400;

  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #3c3c3c, #000000);
}

.card-body{
  margin-top: 3vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #3c3c3c, #000000);

}
.inputs__content--flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__content--flex {
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.description {
  border-radius: 10px;
  resize: none;
  border-radius: 3%;
  margin-bottom: 10px;
}

.main__color {
  border: 2px solid #f1c40f;
}

.main__title {
  text-align: center;
  color: #ffe270;
  text-shadow: 1px 1px 1px #000;
}

.all__content--container {
  border-radius:50px ;
  border: 1px solid #f1c40f;
  background-color: rgba(32, 0, 0, 0.478);
  width: 80vw;
  margin: 0 auto;
}

hr {
  border: 1px solid #f1c40f;
  border-bottom-width: 0;
}

.note__flex {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: row;
}

.note__card {
  border-radius: 10px;
  padding: 10px 10px;
  margin: 10px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 6px rgba(255, 255, 255, 1);
}

.notes__items {
  margin-top: 10px;
  margin-bottom: 10px;
}

.svg__main {
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #ffffff;
}

.svg__main {
  transition: color .3s ease;
}

.svg__main:hover {
  color: #f1c40f;
  transition: color .3s ease;
}


.title{
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.btn__reset{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}