<template>
  <TodoForm
    :restore-title="restoreTitle"
    :restore-description="restoreDescription"
    @add-note="onAddNote"
  />
  <TodoList
    :todo-list="list"
    @change-complete="onChangeComplete"
    @edit="onEdit"
    @remove="onRemove"
  />
</template>

<script>
import { ref } from "vue";
import TodoList from "./components/TodoList.vue";
import TodoForm from "./components/TodoForm.vue";

export default {
  name: "App",
  components: {
    TodoList,
    TodoForm,
  },
  setup() {
    const list = ref([]);
    const restoreTitle = ref("");
    const restoreDescription = ref("");

    function onAddNote(note) {
      list.value.push(note);
      restoreTitle.value = "";
      restoreDescription.value = "";
      saveToLs();
    }

    function onChangeComplete(index) {
      list.value[index].isComplete = !list.value[index].isComplete;
      saveToLs();
    }

    function restoreNotes() {
      let newNote = JSON.parse(localStorage.getItem("notes"));

      if (!newNote || !newNote?.length) return;
      list.value = newNote;
    }

    function saveToLs() {
      let parsed = JSON.stringify(list.value);

      localStorage.setItem("notes", parsed);
    }

    function onEdit(index) {
      const toEdit = list.value.splice(index, 1);

      restoreTitle.value = toEdit[0].title;
      restoreDescription.value = toEdit[0].description;
    }

    function onRemove(index) {
      list.value.splice(index, 1);
      saveToLs();
    }

    restoreNotes();

    return {
      list,
      restoreTitle,
      restoreDescription,
      onAddNote,
      onChangeComplete,
      onEdit,
      onRemove,
    };
  },
};
</script>
